# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
/dataset/DBLP/SingleDBLP.mat
/dataset/Yelp/SingleYelp.mat
/dataset/AMiner/SingleAminer.mat
